@media screen and (max-width: 992px) {

    
    .headtext{
        font-size: 17vw;
    }
    .headtext,.subtext{
        text-align: center;
    }
    .contact-list{
        text-align: center;
    }
}
  
@media screen and (max-width: 600px) {

    input[type=text]{
        width: 80%;
        
    }
    .form-group #firstname{
        margin-bottom: 9vh;
    }

}
