/* constants used */
@font-face { font-family: Arial Rounded MT; 
			 src: url('fonts/ARLRDBD.TTF'); } 
             @font-face { font-family: forte; 
			 src: url('fonts/FORTE.TTF'); } 

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

:root{
    --bgcolor:#F1F1F3;
    --yellow:#F9AF2A;
    --btnyellow: #f8ae28;
    --navgrey:#505050;
    --txtgrey1:#5D5D5D;
    --txtgrey2:#505050;
    --txtgrey3:#707070;
    --txtgrey4:#575757;
    
}

html{
    margin: 0%;
    padding: 0%;
    background-color: var(--bgcolor);
    scroll-behavior: smooth;
}
body{
font-family: 'Arial Rounded MT';
}
/* Navbar */
.navbar-nav .nav-link{
    margin: 0 2vw;
    color: var(--navgrey) !important;
}

.navbar-nav .nav-link:hover{
    color: var(--yellow) !important;
}

.custom-toggler.navbar-toggler {
    border-color: black;
}

.custom-toggler .navbar-toggler-icon {
    background-image: url(
    "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(128,0,128)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* Home */
.banner{
    background-image: url('img/bg.png');
    background-size: cover;
}

.py-5 {
    padding-top: 4rem!important;
    padding-bottom: 3rem!important;
}
 
.headtext{
    color: var(--yellow);
    font-family:'forte';
    font-size: 10vw;
}

.subtext{
    color: var(--txtgrey1);
}

.note{
    margin-top: 2vw;
    color: black;
    line-height: 1.5;
    /* font-style: oblique; */
    word-spacing: .1cm;
}

.button{
    display: inline-block;
    border-radius: 40px;
    background-color: var(--btnyellow);
    border: none;
    color: var(--bgcolor);
    text-align: center;
    font-size: 10px;
    padding: 8px;
    width: 135px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    
}
  
.button a{
    text-decoration: none;
    font-size: 16px;
    color: var(--bgcolor);
}

.button a{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.button a:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
  
.button:hover a{
    padding-right: 25px;
}
  
.button:hover a:after{
    opacity: 1;
    right: 0;
} 

/* Vision */
.vision{
    margin-top: 4vw;
}

.head{
    color: var(--txtgrey1);

}

.secondpart .valuehead{
    margin-top: 2vw;
 
    font-weight: bold;
    color: var(--txtgrey3);
}

.secondpart .value-items i{
    margin-right: 1vw;
}

/* Team */
.head{
    color: var(--txtgrey1);
    font-family:'Arial Rounded MT';
}

.tag{
    margin: 6vh 0vh 0vh 0vh;
}

.tag .subtag{
    
    font-weight: bold;
    color: var(--txtgrey3);
}
/* Team */
.items div h4,.items div p{
    
    text-align: center;
}

.items div h4{
    margin-top: 1vw;
    color: var(--txtgrey4);
}

.items div p{
    font-style: oblique;
    color: var(--txtgrey2);
}


/* Contact */
.contact-me{
    background-color: var(--yellow);
    background-size: cover;
}

.contact-me h2{
    
    color: var(--txtgrey1);
    text-align: center;
    margin-bottom: 2rem;
}

.contact-list{
    padding: 7%;
}

.contact-list h2{
    margin-bottom: 15vh;
}

.pws,.jws{
    text-align: center;
}

.pws p,.jws p{
    margin-top: 2vh;
    color: var(--txtgrey2);
    
}

.jws{
    margin-top: 5vh;
}

.form-group{
    margin-top: 20px;
    font-size: 20px;
}

.form-group input,.form-group textarea{
    width: 81%;
    padding: 5px;
    border: none;
    outline: none;
    border-radius: 30px;
}

input[type=text]{
    display: inline-block;
    width: 40%;
}

input::placeholder, textarea::placeholder{
    padding-left: 1vw;
}

button[type="submit"]{
    border-radius: 20px;
    margin-top: 20px;
    width: auto;
    border: none;
    outline:none;
    padding: 10px;
    background-color: var(--txtgrey3);
    color: white;
    transition: .3s ease color;
}

button[type="submit"] i{
    padding-left: 6px;
    color: white;
}

button[type="submit"]:hover{
    color: var(--btnyellow);
}

button[type="submit"]:hover i{
    font-size: large;
}

.heading-list{
    font-size: larger;
    
    color:var(--txtgrey1);
}

.list-2{
    text-align: center;
}

.sub-list{
    margin-top: 3rem;
}

.sub-heading{
    color: var(--txtgrey3);
}

.sub-heading i{
    padding-right: 2%;
}

/* Footer */
.socials {
    text-align: center;
}
.socials a{
    margin: 20px;
    color: var(--txtgrey1);
}

.socials a:hover{
    color: rgb(59, 46, 29);
}